<div class="container mt--7">
	<div class="row">
		<div class="col-xl-12 order-xl-1">
			<div class="card  shadow">
				<div class="card-header border-0">
					<div class="row align-items-center">
						<div class="col-md-8 col-sm-10 col-12">
							<h3 class="mb-0">Edit Employee</h3>
						</div>
					</div>
				</div>
				<div class="card-body">
					<!-- form start -->
					<form [formGroup]="addemployeeForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="box-body">
							<h4>Status</h4>
							<hr>
							<div class="form-group row mb-3 ml-8">
								<label for="exampleInputEmail1" class="col-2">Status : </label>
								<div class="col-3">
									<select name="status" formControlName="status" class="form-control">
										<option value="">Select Status</option>
										<option value="Active">Active</option>
										<option value="Inactive">Inactive</option>
										<option value="Terminated">Terminated</option>
									</select>
									<span *ngIf="submitted && hasError('status','required')" class="alert-danger">Please Select
										Status</span>
								</div>
								<label for="exampleInputEmail1" class="col-2">Employee Id : </label>
								<div class="col-3">
									<input type="text" name="employee_id" autocomplete="off" formControlName="employee_id"
										class="form-control" placeholder="Employee Id">
									<span *ngIf="submitted && hasError('employee_id','required')" class="alert-danger">Employee Id is
										required</span>
								</div>
							</div>
							<h4>Personal Details</h4>
							<hr>
							<div class="form-group row mb-3 ml-8">
								<label for="exampleInputEmail1" class="col-2">Username : </label>
								<div class="col-3">
									<input type="text" name="username" autocomplete="off" formControlName="username" class="form-control"
										placeholder="Username">
									<span *ngIf="submitted && hasError('username','required')" class="alert-danger">Username is
										required</span>
								</div>
								<label for="exampleInputEmail1" class="col-2">Email : </label>
								<div class="col-3">
									<input type="email" name="email" autocomplete="off" formControlName="email" class="form-control"
										placeholder="Email">
									<span *ngIf="submitted && hasError('email','required')" class="alert-danger">Email is
										required</span>
								</div>
							</div>
							<hr>
							<div class="form-group row mb-3 ml-8">
								<label for="exampleInputEmail1" class="col-2">First Name : </label>
								<div class="col-3">
									<input type="text" name="first_name" autocomplete="off" formControlName="first_name"
										class="form-control" placeholder="First Name">
									<span *ngIf="submitted && hasError('first_name','required')" class="alert-danger">First Name is
										required</span>
								</div>
								<label for="exampleInputEmail1" class="col-2">Last Name : </label>
								<div class="col-3">
									<input type="text" name="last_name" autocomplete="off" formControlName="last_name"
										class="form-control" placeholder="Last Name">
									<span *ngIf="submitted && hasError('last_name','required')" class="alert-danger">Last Name is
										required</span>
								</div>
							</div>
							<div class="form-group" *ngIf="!isEdit">
								<label for="exampleInputEmail1">Password</label>
								<input type="password" name="password" autocomplete="off" formControlName="password"
									class="form-control" placeholder="Password">
								<span *ngIf="submitted && hasError('password','required')" class="alert-danger">Password is
									required</span>
							</div>
							<h4>Address</h4>
							<hr>
							<div class="form-group">
								<label for="exampleInputEmail1">Address</label>
								<input type="text" name="address" autocomplete="off" formControlName="address" class="form-control"
									placeholder="Address">
								<span *ngIf="submitted && hasError('address','required')" class="alert-danger">Address is
									required</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">City</label>
								<input type="text" name="city" autocomplete="off" formControlName="city" class="form-control"
									placeholder="City">
								<span *ngIf="submitted && hasError('city','required')" class="alert-danger">City is
									required</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Country</label>
								<input type="text" name="country" autocomplete="off" formControlName="country" class="form-control"
									placeholder="Country">
								<span *ngIf="submitted && hasError('country','required')" class="alert-danger">Country is
									required</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Postal Code</label>
								<input type="number" name="postal_code" autocomplete="off" formControlName="postal_code"
									class="form-control" placeholder="Postal Code">
								<span *ngIf="submitted && hasError('postal_code','required')" class="alert-danger">Postal Code is
									required</span>
							</div>
							<h4>Employment Details</h4>
							<hr>
							<div class="form-group">
								<label for="exampleInputEmail1">Select Employee Role</label>
								<select name="role" formControlName="role" class="form-control">
									<option value="">Select Employee role</option>
									<option value="{{item._id}}" *ngFor="let item of rolesData">{{item.name}}</option>
								</select>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Employment Type</label>
								<select name="employmentType" formControlName="employmentType" class="form-control">
									<option value="">Select Employment Type</option>
									<option value="Full-Time">Full-Time</option>
									<option value="Part-Time">Part-Time</option>
									<option value="Contract">Contract</option>
								</select>
								<span *ngIf="submitted && hasError('employmentType','required')" class="alert-danger">Please Select
									Employment Type</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">File Number</label>
								<input type="number" name="file_no" autocomplete="off" formControlName="file_no"
									class="form-control" placeholder="File Number">
								<span *ngIf="submitted && hasError('file_no','required')" class="alert-danger">File Number is
									required</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Basic Orientation</label>
								<input type="text" name="basic_orientation" autocomplete="off" formControlName="basic_orientation"
									class="form-control" placeholder="Basic Orientation">
								<span *ngIf="submitted && hasError('basic_orientation','required')" class="alert-danger">Basic Orientation is
									required</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Position</label>
								<select name="position" formControlName="position" class="form-control">
									<option value="">Select Employment Type</option>
									<option value="CR">CR</option>
									<option value="TM">TM</option>
									<option value="TM-CTR">TM-CTR</option>									
									<option value="TM-Cleaning">TM-Cleaning</option>
									<option value="TM-SDW">TM-SDW</option>
									<option value="TM-NSF">TM-NSF</option>
									<option value="TM-Factory">TM-Factory</option>
									<option value="TM-PFC">TM-PFC</option>
									<option value="TM-DNG">TM-DNG</option>
									<option value="TM-FF">TM-FF</option>
									<option value="TM-CSR">TM-CSR</option>
									<option value="TM-TNJ">TM-TNJ</option>
								</select>
								<span *ngIf="submitted && hasError('position','required')" class="alert-danger">Please Select Position</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Hire Date</label>
								<input type="date" name="hireDate" autocomplete="off" formControlName="hireDate" class="form-control"
									placeholder="Hire Date">
								<span *ngIf="submitted && hasError('hireDate','required')" class="alert-danger">Hire Date is
									required</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Shift Preferences</label>
								<select name="shiftPreferences" formControlName="shiftPreferences" class="form-control">
									<option value="">Select Shift Preferences</option>
									<option value="Morning">Morning</option>
									<option value="Afternoon">Afternoon</option>
									<option value="Evening">Evening</option>
									<option value="Night">Night</option>
								</select>
								<span *ngIf="submitted && hasError('shiftPreferences','required')" class="alert-danger">Please Select
									Shift Preferences</span>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Payment Type</label>
								<select name="paymentType" formControlName="paymentType" class="form-control">
									<option value="">Select Payment Type</option>
									<option value="Hourly">Hourly</option>
									<option value="Monthly">Monthly</option>
								</select>
								<span *ngIf="submitted && hasError('paymentType','required')" class="alert-danger">Please Select Payment
									Type</span>
							</div>
							<h4>Certificates Details</h4>
							<hr>
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6">
										<!-- <input class="form-control mt-4 mb-4" type="text" (keyup)="searchProduct()"
											formControlName="searchText" name="searchText" [(ngModel)]="searchText" autocomplete="off"
											placeholder="&#61442;  Start searching a Product by name"> -->
									</div>
									<div class="col-md-6 mt-4 mb-4">
										<button type="button" class="btn btn-button ml-auto" (click)="openRelatedProductModal(related)">Add
											Certificates</button>
									</div>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table align-items-center table-flush">
									<thead>
										<tr>
											<th>SL No</th>
											<th>Name</th>
											<th>Scored</th>
											<th>Issued By</th>
											<th>Issued Date</th>
											<th>Valid Till</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<td colspan="5" *ngIf="selectedcertificatesData && selectedcertificatesData.length == 0">
											<div class="alert alert-dismissable" style="text-align: center;">
												Related Products is Empty
											</div>
										</td>
										<tr *ngFor="let cData of selectedcertificatesData; let i = index">
											<td *ngIf="currentPage == 1">{{i+1}}</td>
											<td *ngIf="currentPage != 1">
												{{i+1+((currentPage - 1) *
												currentLimit)}}</td>
											<td>{{cData.title}}</td>
											<td>{{cData.scored}}</td>
											<td>{{cData.issuedBy}}</td>
											<td>{{cData.issuedDate | date:'dd/MM/YYYY HH:MM:a'}}</td>
											<td>{{cData.validTill | date:'dd/MM/YYYY HH:MM:a'}}</td>
											<td>
												<a style="cursor:pointer;padding-left: 15px;" (click)="removeCertificate(i)"><i
														class="mdi mdi-close-box" aria-hidden="true"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="box-footer d-flex">
								<button type="submit" class="btn btn-button mr-2">Submit</button>
								<button type="cancel" (click)="onCancel()" class="btn btn-button">Cancel</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #related let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add Certifications</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<!-- Page content -->
		<div class="container">
			<!-- Table -->
			<div class="row">
				<div class="col">
					<div class="card shadow">
						<div class="card-body">
							<div class="table-responsive">
								<form [formGroup]="certifiedObject" (ngSubmit)="onSubmitCertificate()" method="post" novalidate>
									<div class="box-body">
										<div class="form-group">
											<label for="exampleInputEmail1">Select Certifications</label>
											<select name="id" formControlName="id" class="form-control">
												<option value="">Select Certifications</option>
												<option value="{{item._id}}" *ngFor="let item of certificatesData">{{item.title}} - {{item.type}}</option>
											</select>
										</div>
										<div class="form-group">
											<label for="exampleInputEmail1">Score</label>
											<input type="text" name="scored" autocomplete="off" formControlName="scored" class="form-control"
												placeholder="Score">
											<span *ngIf="submitted && hasError('scored','required')" class="alert-danger">Score is
												required</span>
										</div>
										<div class="form-group">
											<label for="exampleInputEmail1">Issued By</label>
											<select name="issuedBy" formControlName="issuedBy" class="form-control">
												<option value="">Select Issued By</option>
												<option value="{{item.name}}" *ngFor="let item of managerData">{{item.name}}</option>
											</select>
										</div>
										<div class="form-group">
											<label for="exampleInputEmail1">Issued Date</label>
											<input type="date" name="issuedDate" autocomplete="off" formControlName="issuedDate" class="form-control"
												placeholder="Issued Date">
											<span *ngIf="submitted && hasError('issuedDate','required')" class="alert-danger">Issued Date is
												required</span>
										</div>
										<div class="form-group">
											<label for="exampleInputEmail1">Valid Till Date</label>
											<input type="date" name="validTill" autocomplete="off" formControlName="validTill" class="form-control"
												placeholder="Valid Till Date">
											<span *ngIf="submitted && hasError('validTill','required')" class="alert-danger">Valid Till Date is
												required</span>
										</div>
									</div>
									<div class="box-footer d-flex">
									<button type="submit" class="btn btn-button mr-2">Submit</button>
								</div>
								</form>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-smallbutton" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>