<div class="container mt--7">
	<div class="row">
		<div class="col-xl-12 order-xl-1">
			<div class="card  shadow">
				<div class="card-header border-0">
					<div class="row align-items-center">
						<div class="col-md-8 col-sm-10 col-12">
							<h3 class="mb-0">Edit Position</h3>
						</div>
					</div>
				</div>
				<div class="card-body">
					<!-- form start -->
					<form [formGroup]="addpositionForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="form-group">
							<label for="exampleInputEmail1">Select Status</label>
							<select name="status" formControlName="status" class="form-control">
								<option value="">Select Status</option>
								<option value="true">Active</option>
								<option value="false">Deactive</option>
							</select>
							<span *ngIf="submitted && hasError('status','required')" class="alert-danger">Please Select Status</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Name</label>
							<input type="text" name="name" autocomplete="off" formControlName="name" class="form-control"
								placeholder="name">
							<span *ngIf="submitted && hasError('name','required')" class="alert-danger">Name is
								required</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Sequence Number</label>
							<input type="text" name="sequence_number" autocomplete="off" formControlName="sequence_number" class="form-control"
								placeholder="Sequence Number">
							<span *ngIf="submitted && hasError('sequence_number','required')" class="alert-danger">Sequence Number is
								required</span>
						</div>
						<div class="box-footer d-flex">
							<button type="submit" class="btn btn-button mr-2">Submit</button>
							<button type="cancel" (click)="onCancel()" class="btn btn-button">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>