
.greeting {
  font-size: 48px;
  color: #ff8800; /* Orange */
  margin-bottom: 10px;
}

.subheading {
  font-size: 18px;
  color: #1c1730;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #1c1730;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.btn.active {
  background-color: #ff8800;
  color: white;
  border: none;
}

.output-box {
  margin: 80px auto 50px;
  border: 1px solid #ccc;
  border-radius: 28px;
  padding: 30px 0;
  width: 551px;
  input{
    width: 100%;
    text-align: center;
    border: 0;
  }
}

.output-number {
  font-size: 36px;
  font-weight: bold;
  color: #1c1730;
}

.check-btn {
  padding: 10px 90px;
  border-radius: 25px;
  background-color: white;
  color: #ff8800;
  font-weight: bold;
  border: 2px solid #ff8800;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: 0 auto;
}

.check-btn:hover {
  background-color: #ff8800;
  color: white;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  z-index: 100;
  width: 300px;
  text-align: center;
}