<div class="content-wrapper">
  <div class="row">
    <div class="col-xl-12 grid-margin stretch-card">
      <div class="card cspb60 cspt60">
        <div class="card-body">
          <div class="row">
            <div class="container-fluid">
              <div class="col-md-11 mx-auto">
                <h1 class="greeting text-center mb-md-4 mb-4">Hi!</h1>
                <p class="subheading text-center mb-md-5 mb-4">Choose expected meals today!</p>
                <div class="row csmb60">
                  <!-- <button class="primarybtn {{isallMealsActive}}" (click)="selectMeals('all','')">All Meals</button> -->
                  <div class=" {{item.ismealsActive}} col-xl-3 col-sm-6 mb-xl-0 mb-4" (click)="selectMeals('meal',item)"
                    *ngFor="let item of mealsData; let i = index">
                    <div class="d-flex justify-content-between align-items-center box" (mouseenter)="hoverIndex = i"  (mouseleave)="hoverIndex = null">
                      <img src="{{url}}/images/home/berger.png" alt="" width="50" height="40">
                      <input *ngIf="hoverIndex === i" type="text" class="cst-text" [(ngModel)]="item.nooforders">
                      <p *ngIf="hoverIndex !== i && !item.nooforders" class="bergername mb-0 size16"> {{item.name}}</p>
                      <p *ngIf="hoverIndex !== i && item.nooforders" class="bergername mb-0 size16">
                        {{ item.nooforders }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="button-group">
                  <!-- <button class="primarybtn {{isallShiftsActive}}" (click)="selectShifts('all','')">All Shifts</button> -->
                  <button class="primarybtn {{item.isshiftActive}}" (click)="selectShifts('shift',item)"
                    *ngFor="let item of shiftData">{{item.name}}</button>
                </div>
                <div class="output-box csmb60">
                  <input class="output-number" [(ngModel)]="orders">
                </div>
                <button class="check-btn" (click)="onSubmit()">CHECK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>