<!-- partial:partials/_footer.html -->
<footer class="footer">
	<div class="d-sm-flex justify-content-center justify-content-sm-between">
		<span class="text-muted d-block text-center text-sm-left d-sm-inline-block"
			>Copyright © www.albaik.com 2025</span
		>
	</div>
	<!-- Bottom Navbar -->
	<nav
		class="navbar fixed-bottom navbar-light bg-white cstfooter d-block d-lg-none"
	>
		<div class="d-flex justify-content-around w-100">
			<i class="mdi mdi-view-dashboard text-muted"></i>
			<i class="mdi mdi-calendar-check text-muted"></i>
			<i class="mdi mdi-calendar-remove text-muted"></i>
			<i class="mdi mdi-timetable text-muted"></i>
		</div>
	</nav>
</footer>
<!-- partial -->
