.btn .btn-primary{
  color: #ffffff;
  background-color: #ff5e14 !important;
  border-color: #ff5e14 !important;
}

.btn .btn-danger {
  color: #ffffff;
  background-color: #ff5e14 !important;;
  border-color: #ff5e14 !important;;
}