<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">SEO Pages</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <tr>
              <th>Page Name</th>
              <th>Action</th>
            </tr>
            <td colspan="5" *ngIf="msg_danger">
              <div class="alert alert-dismissable" style="text-align: center;">
                Home Page Data List is Empty
              </div>
            </td>
            <tr *ngFor="let listPage of pageData; let i = index">
              <td>{{listPage.page_name}}</td>
              <td>
                <a routerLink="/page/home-edit/{{listPage._id}}" style="cursor:pointer"><i class="mdi mdi-lead-pencil"
                    aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>