<section class="p-4" style="min-height: 80vh;">
  <div class="container-fluid">
    <h1 class=""><a href="index.html" class="d-inline-block text-decoration-none dashicon"><i
          class="mdi mdi-keyboard-backspace"></i><span class="menu-title ml-3">Dashboard</span></a></h1>
    <h3 class="mb-5 fw-bold text-center"><span class="text-center"> Schedule System </span> </h3>

    <!-- Tabs Navigation -->
    <ul class="nav nav-tabs mb-4" id="questionTabs" role="tablist">
      <li class="nav-item" *ngFor="let step of steps; let i = index" [ngClass]="{ 'completed': i <= currentStep }">
        <a class="nav-link" [class.active]="currentStep === i" (click)="goToStep(i)" href="javascript:void(0)">
          {{ i + 1 }}
        </a>
      </li>
    </ul>

    <!-- Tab Content -->
    <form (ngSubmit)="onSubmitform()" #formRef="ngForm">
      <div class="tab-content">
        <!-- Question 1 -->
        <div class="tab-pane fade" [class.show]="currentStep === 0" [class.active]="currentStep === 0">

          <button type="button" class="check-btn" (click)="goToStep(1)">Start</button>
        </div>
        <!-- Question 1 -->
        <div class="tab-pane fade card" [class.show]="currentStep === 1" [class.active]="currentStep === 1">
          <!-- ================================ pos tabel data ================================= -->
          <!-- Page content -->
          <div class="card-header border-0">
            <h4 class="fw-bold  mb-0">POS / Sales Transaction Data</h4>
          </div>
          <div class="card-body">

            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead>
                  <tr>
                    <th>SL No</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Sales Price</th>
                    <th>Orders</th>
                    <th>Avarage Order Value</th>
                    <th>ispeakhour</th>
                    <th>chef_count</th>
                    <th>cashier_count</th>
                    <th>server_count</th>
                    <th>packer_count</th>
                    <th>Status</th>
                    <th>Sequence Number</th>
                  </tr>
                </thead>
                <tbody>
                  <td colspan="5" *ngIf="PosData.length == 0">
                    <div class="alert alert-dismissable" style="text-align: center;">
                      POS List is Empty
                    </div>
                  </td>
                  <tr *ngFor="let listPOS of PosData; let i = index">
                    <td *ngIf="currentPage == 1">{{i+1}}</td>
                    <td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
                    <td>{{listPOS.location}}</td>
                    <td>{{listPOS.date | date:'dd/MM/YYYY HH:MM:a'}}</td>
                    <td>{{listPOS.sales}}</td>
                    <td>{{listPOS.orders}}</td>
                    <td>{{listPOS.avarage_order_value}}</td>
                    <td>{{listPOS.ispeakhour}}</td>
                    <td>{{listPOS.chef_count}}</td>
                    <td>{{listPOS.cashier_count}}</td>
                    <td>{{listPOS.server_count}}</td>
                    <td>{{listPOS.packer_count}}</td>
                    <td>{{listPOS.status == true ? 'Enabled':'Disable' }}</td>
                    <td>{{listPOS.sequence_number}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="pcommece-pagination" *ngIf="totalRecord > 0 ">
                <app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
                  (changePage)="onListChangePage($event)"></app-pagination>
              </div>
            </div>
          </div>
          <ng-template #content let-modal style="z-index: 0;">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-title">POS</h4>
              <button type="button" class="btn btn-button" aria-describedby="modal-title"
                (click)="modal.dismiss('Cross click')">close</button>
            </div>
            <div class="modal-body">
              <p *ngIf="selectedPOS">
                <strong>Are you sure you want to delete <span class="text-primary">"{{selectedPOS.name}}"</span>
                  POS?</strong>
              </p>
              <p>
                All information associated to this POS will be permanently deleted.
                <span class="text-danger">This operation can not be undone.</span>
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-button" (click)="modal.dismiss('cancel click')">Cancel</button>
              <button type="button" class="btn btn-button" (click)="deletePOS()">Ok</button>
            </div>
          </ng-template>
          <!-- ================================ pos tabel data ================================= -->
          <button type="button" class="check-btn mb-4" (click)="nextStep()">Next</button>
        </div>

        <!-- ****************************************** Question 2 **************************** -->
        <div class="tab-pane fade card" [class.show]="currentStep === 2" [class.active]="currentStep === 2">
          <div class="card-header border-0">
            <h4 class="fw-bold mb-0">Request For the Day</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead>
                  <tr>
                    <th>SL No</th>
                    <th>Departments</th>
                    <th>Profile type</th>
                    <th>Head Count</th>
                  </tr>
                </thead>
                <tbody>
                  <td colspan="5" *ngIf="serviceRequestData.length == 0">
                    <div class="alert alert-dismissable" style="text-align: center;">
                      Support Request List is Empty
                    </div>
                  </td>
                  <tr *ngFor="let servicerequest of serviceRequestData; let i = index">
                    <td *ngIf="currentPage == 1">{{i+1}}</td>
                    <td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
                    <td>{{servicerequest.name}}</td>
                    <td *ngIf="servicerequest.position && servicerequest.position.length > 0">
                      <p *ngFor="let position of servicerequest.position">{{position.name}}</p>
                    </td>
                    <td
                      *ngIf="servicerequest.name == 'Productions' || servicerequest.name == 'Counter' || servicerequest.name == 'General Service' && servicerequest.position && servicerequest.position.length > 0">
                      <p *ngFor="let position of servicerequest.position"><span
                          *ngIf="position.headcount.employees && position.headcount.employees.length > 0">{{position.headcount.employees[0].employeesNeeded}}</span>
                        <span *ngIf="position.headcount.employees && position.headcount.employees.length == 0">0</span>
                      </p>
                    </td>
                    <td
                      *ngIf="servicerequest.name == 'Cooking' && servicerequest.position && servicerequest.position.length > 0">
                      <p *ngFor="let position of servicerequest.position"><span
                          *ngIf="position.headcount.machines">{{position.headcount.machines}}</span></p>
                    </td>
                    <td
                      *ngIf="servicerequest.name == 'Packaging' && servicerequest.position && servicerequest.position.length > 0">
                      <p *ngFor="let position of servicerequest.position"><span
                          *ngIf="position.headcount.boxes">{{position.headcount.boxes}}</span></p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <button type="button" class="check-btn mb-4" (click)="nextStep()">Next</button>
        </div>

        <!-- ****************************************** Question 3 ****************************************** -->
        <div class="tab-pane fade card" [class.show]="currentStep === 3" [class.active]="currentStep === 3">
          <div class="card-header border-0">
            <h4 class="fw-bold mb-0">Get Employee Availability</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead>
                  <tr>
                    <th>SL No</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>File No</th>
                    <th>Status</th>
                    <th>Department</th>
                    <th>Position</th>
                    <th>Employee ID</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Availability</th>
                  </tr>
                </thead>
                <tbody>
                  <td colspan="5" *ngIf="EmployeeData.length == 0">
                    <div class="alert alert-dismissable" style="text-align: center;">
                      Employee List is Empty
                    </div>
                  </td>
                  <ng-container *ngFor="let listEmployee of EmployeeData; let i = index">

                    <tr *ngIf="listEmployee.status == 'Active'">
                      <td *ngIf="currentPage == 1">{{i+1}}</td>
                      <td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
                      <td>{{listEmployee.username}}</td>
                      <td>{{listEmployee.email}}</td>
                      <td>{{listEmployee.file_no}}</td>
                      <td>{{listEmployee.status }}</td>
                      <td>
                        <p *ngIf="listEmployee.departments_data && listEmployee.departments_data.length > 0">
                          {{listEmployee.departments_data[0].name}}</p>
                      </td>
                      <td>
                        <p *ngIf="listEmployee.position && listEmployee.position.length > 0">
                          {{listEmployee.position[0].name}}</p>
                      </td>
                      <td>{{listEmployee.employee_id}}</td>
                      <td>{{listEmployee.created_at | date:'dd/MM/YYYY HH:MM:a'}}</td>
                      <td>{{listEmployee.updated_at | date:'dd/MM/YYYY HH:MM:a'}}</td>
                      <td>
                        <div *ngFor="let avail of listEmployee.availability; let i = index" [formGroupName]="i"
                          class="mb-2">
                          <!-- <input formControlName="month" placeholder="Month-Year" type="text" />
                          <input formControlName="daysAvailable" placeholder="Days (comma separated)"
                            (change)="onDaysChange($event, i)" /> -->
                          {{avail.daysAvailable}}
                          <!-- <button type="button" (click)="removeAvailability(i)">Remove</button> -->
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <div class="pcommece-pagination" *ngIf="totalRecord > 0 ">
                <app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
                  (changePage)="onListChangePage($event)"></app-pagination>
              </div>
            </div>
          </div>
          <button type="button" class="check-btn mb-4" (click)="nextStep()">Next</button>
        </div>

        <!-- Question 4 -->
        <div class="tab-pane fade card" [class.show]="currentStep === 4" [class.active]="currentStep === 4">
          <div class="card-header border-0">
            <h4 class="fw-bold mb-0">Rules list</h4>
          </div>
          <!-- <label class="form-label fw-semibold">4. Rate our service</label>
          <input type="range" class="form-range mb-3" min="1" max="5" [(ngModel)]="formData.rating" name="rating"
            required> -->
            <ul *ngIf="ConfigData">
              <li>Max Daily Hours : {{ConfigData.maxDailyHours}}</li>
              <li>Max Weekly Hours : {{ConfigData.maxWeeklyHours}}</li>
              <li>Min Rest Hours : {{ConfigData.minRestHours}}</li>
              <li>Min Shift Length : {{ConfigData.minShiftLength}}</li>
              <li>Max Shift Length : {{ConfigData.maxShiftLength}}</li>
              <li>Consecutive Work Days : {{ConfigData.consecutiveWorkDays}}</li>
              <li>Min Days Off Per Week : {{ConfigData.minDaysOffPerWeek}}</li>
              <li>Over Time Rate : {{ConfigData.overtimeRate}}</li>
              <li>Over Time Allowed : {{ConfigData.overtimeallowed}}</li>
              <li>Min Chefs Per Shift : {{ConfigData.minChefsPerShift}}</li>
              <li>Min Cashiers Per Shift : {{ConfigData.minCashiersPerShift}}</li>
              <li>Max Interns Per Shift : {{ConfigData.maxInternsPerShift}}</li>              
            </ul>
          <button type="button" class="check-btn mb-4" (click)="nextStep()">Next</button>
        </div>

        <!-- Question 5 -->
        <div class="tab-pane fade card" [class.show]="currentStep === 5" [class.active]="currentStep === 5">
          <div class="card-header border-0">
            <h4 class="fw-bold mb-0">Shifts list</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead>
                  <tr>
                    <th>SL No</th>
                    <th>Shift Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Duration</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <td colspan="5" *ngIf="msg_danger">
                    <div class="alert alert-dismissable" style="text-align: center;">
                      Shift List is Empty
                    </div>
                  </td>
                  <tr *ngFor="let listShift of shiftData ; let i = index">
                    <td *ngIf="currentPage == 1">{{i+1}}</td>
                    <td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
                    <td>{{listShift.name}}</td>
                    <td>{{listShift.startTime}}</td>
                    <td>{{listShift.endTime}}</td>
                    <td>{{listShift.breakDuration}}</td>
                    <td>{{listShift.department}}</td>
                    <td>{{listShift.status == true ? 'Active':'Inactive' }}</td>
                    <td>
                      <a routerLink="/shift/edit/{{listShift._id}}" style="cursor:pointer"><i
                          class="mdi mdi-lead-pencil" aria-hidden="true"></i>
                      </a>
                      <a style="cursor:pointer;padding-left: 15px;" (click)="deleteShift(listShift._id)"><i
                          class="mdi mdi-close-box" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <div class="pcommece-pagination" *ngIf="totalRecord > 0 && !searchText">
              <app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
                (changePage)="onListChangeShift($event)"></app-pagination>
            </div> -->
            </div>
          </div>

          <button type="button" class="check-btn mb-4" (click)="nextStep()">Next</button>
        </div>

        <!-- Question 6 -->
        <div class="tab-pane fade" [class.show]="currentStep === 6" [class.active]="currentStep === 6">
          <label class="form-label fw-semibold">6. Any additional comments? 6</label>
          <textarea class="form-control mb-3" rows="3" [(ngModel)]="formData.comments" name="comments"></textarea>
          <button type="submit" class="check-btn ">Submit</button>
        </div>
        <!-- Question 7 -->
        <div class="tab-pane fade" [class.show]="currentStep === 7" [class.active]="currentStep === 7">
          <label class="form-label fw-semibold">6. Any additional comments? 7</label>
          <textarea class="form-control mb-3" rows="3" [(ngModel)]="formData.comments" name="comments"></textarea>
          <button type="submit" class="check-btn ">Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>