
form label {
  color: #37352f;
}

form input, form select, form textarea {
  border-radius: 6px;
  border-color: #ddd;
}

// form input:focus, form select:focus, form textarea:focus {
//   // box-shadow: 0 0 0 2px rgba(46,170,220,0.3);
//   // border-color: #CE3737;
// }

.nav-tabs{
  justify-content: space-around;
}
.nav-tabs .nav-link {
  border-radius: 50%;
  text-align: center;
  // width: 40px;
  // height: 40px;
  // line-height: 22px;
  // font-weight: 600;
}

.nav-tabs .nav-link.active {
  background-color: #CE3737;
  color: #fff;
  border-color: #CE3737;
}
.nav-tabs{
  border-bottom: 0;
}
.tab-content{
  border: 0;
}
.nav-link.filled {
  background-color: #d4edda;
  border-color: #c3e6cb;
}