<!-- Page content -->
<div class="container-fluid mt--7">
	<!-- Table -->
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<h3 class="mb-0">Schedule List</h3>
				</div>
				<div class="card-body">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<!-- <input class="form-control mt-4" type="text" (keyup)="searchSchedule()" name="search" [(ngModel)]="searchText"
                                        autocomplete="off" placeholder="&#61442;  Start searching a Schedule by name"> -->
							</div>
							<div class="col-md-6">
								<button type="button" class="btn btn-button pull-right ml-auto mb-4" routerLink="/schedule/add">Add
									Schedule</button>
							</div>
						</div>
						<div class="col-md-6">
							<h4 class="title"></h4>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead>
								<tr>
									<th>SL No</th>
									<th>Title</th>
									<th>Start Date</th>
									<th>Employees</th>
									<th>Shifts</th>
									<!-- <th>Issued Date</th>
									<th>Expiry Date</th> -->
									<th>Status</th>
									<th>Compliance</th>
									<!-- <th>Sequence Number</th> -->
									<!-- <th>Created At</th> -->
									<!-- <th>Updated At</th> -->
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<td colspan="5" *ngIf="Data.length == 0">
									<div class="alert alert-dismissable" style="text-align: center;">
										Schedule List is Empty
									</div>
								</td>
								<tr *ngFor="let list of Data; let i = index">
									<td *ngIf="currentPage == 1">{{i+1}}</td>
									<td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
									<td>{{list.name}}</td>
									<td>{{list.startDate | date:'dd/MM/yyyy'}} - {{list.endDate | date:'dd/MM/yyyy'}}</td>
									<td>{{list.employee_data?.length}}</td>
									<td>{{list.shift_data?.length}}</td>
									<td>{{list.status}}</td>
									<td>{{list.complianceCheckPassed ? 'Passed' : 'Failed'}}</td>

									<td>
										<a routerLink="/schedule/edit/{{list._id}}" style="cursor:pointer">
											<i class="mdi mdi-lead-pencil" aria-hidden="true"></i>
										</a>
										<a style="cursor:pointer;padding-left: 15px;" (click)="open(content,list)">
											<i class="mdi mdi-close-box" aria-hidden="true"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="pcommece-pagination" *ngIf="totalRecord > 0 ">
							<app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
								(changePage)="onListChangePage($event)">
							</app-pagination>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<ng-template #content let-modal style="z-index: 0;">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-title">Schedule</h4>
			<button type="button" class="btn btn-button" aria-describedby="modal-title"
				(click)="modal.dismiss('Cross click')">close</button>
		</div>
		<div class="modal-body">
			<p *ngIf="selectedData">
				<strong>Are you sure you want to delete <span class="text-primary">"{{selectedData.name}}"</span>
					Schedule?</strong>
			</p>
			<p>
				All information associated to this Schedule will be permanently deleted.
				<span class="text-danger">This operation can not be undone.</span>
			</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-button" (click)="modal.dismiss('cancel click')">Cancel</button>
			<button type="button" class="btn btn-button" (click)="deleteData()">Ok</button>
		</div>
	</ng-template>
