<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top text-center">
		<a class="sidebar-brand brand-logo text-decoration-none  pl-0" href="index.html"><img
				src="assets/images/albaik-logo-black.png" alt="logo" /> </a>
		<!-- <img src="assets/images/logo.svg" alt="logo" /> -->
		<a class="sidebar-brand brand-logo-mini pl-0" href="index.html"><img src="assets/images/hat-logo.png"
				alt="logo" /></a>
	</div>
	<ul class="nav">
		<li class="nav-item nav-category">
			<span class="nav-link">Navigation</span>
		</li>
		<li class="nav-item menu-items" [class.active]="currentRoute === '/' || currentLocation =='dashboard'">
			<a class="nav-link" href="index.html">
				<span class="menu-icon">
					<i class="mdi mdi-speedometer"></i>
				</span>
				<span class="menu-title">Dashboard</span>
			</a>
		</li>
		<li class="nav-item menu-items"
			[class.active]="currentRoute === '/employee-availability' || currentLocation =='employee-availability'">
			<a class="nav-link" [routerLink]="['/employee-availability/view']" routerLinkActive="router-link-active">
				<span class="menu-icon">
					<i class="mdi mdi-account"></i>
				</span>
				<span class="menu-title">Availibity</span>
			</a>
		</li>
		<li class="nav-item" [class.active]="currentRoute === '/leaverequest' || currentLocation =='leaverequest'">
			<a class="nav-link" [routerLink]="['/leaverequest/view']" routerLinkActive="router-link-active">
				<span class="menu-icon">
					<i class="mdi mdi-backup-restore"></i>
				</span>
				<span class="menu-title">Leave Requests</span>
			</a>
		</li>
		<li class="nav-item menu-items"
			[class.active]="currentRoute === '/employee/shift-schedule' || currentLocation =='shift-schedule'">
			<a class="nav-link" [routerLink]="['/employee/shift-schedule']" routerLinkActive="router-link-active">
				<span class="menu-icon">
					<i class="mdi mdi-account"></i>
				</span>
				<span class="menu-title">Shift Schedule</span>
			</a>
		</li>	
		<!-- <li class="nav-item menu-items" [class.active]="currentRoute === '/request' || currentLocation =='request'">
			<a class="nav-link" href="#request" data-toggle="collapse" aria-expanded="false" aria-controls="auth">
				<span class="menu-icon">
					<i class="mdi mdi-account-multiple"></i>
				</span>
				<span class="menu-title">Request</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="request">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"> <a class="nav-link" [class.active]="currentRoute === '/request/view'"
							[routerLink]="['/request/view']" routerLinkActive="router-link-active"> Check </a></li>
					<li class="nav-item"> <a class="nav-link"
						[class.active]="currentRoute === '/production-overview' || currentLocation =='production-overview'"
						[routerLink]="['/request/production-overview']" routerLinkActive="router-link-active"> Production Overview </a></li>
					<li class="nav-item"> <a class="nav-link"
						[class.active]="currentRoute === '/restuarent-status' || currentLocation =='restuarent-status'"
						[routerLink]="['/request/restuarent-status']" routerLinkActive="router-link-active"> Restuarent Status </a></li>
					<li class="nav-item"> <a class="nav-link"
							[class.active]="currentRoute === '/request/support-request' || currentLocation =='support-request'"
							[routerLink]="['/request/support-request']" routerLinkActive="router-link-active"> Support Request </a>
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-item menu-items" [class.active]="currentRoute === '/employee' || currentLocation =='employee'">
			<a class="nav-link" href="#employee" data-toggle="collapse" aria-expanded="false" aria-controls="auth">
				<span class="menu-icon">
					<i class="mdi mdi-account-multiple"></i>
				</span>
				<span class="menu-title">Employee Management</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="employee">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item " [class.active]="currentRoute === '/employee' || currentLocation =='employee'">
						<a class="nav-link" [routerLink]="['/employee/view']" routerLinkActive="router-link-active">
							<span class="menu-icon">
								<i class="mdi mdi-laptop"></i>
							</span>
							<span class="menu-title">Employee</span>
						</a>
					</li>
					<li class="nav-item" [class.active]="currentRoute === '/shift' || currentLocation =='shift'">
						<a class="nav-link" [routerLink]="['/shift/view']" routerLinkActive="router-link-active">
							<span class="menu-icon">
								<i class="mdi mdi-collage"></i>
							</span>
							<span class="menu-title">Shift</span>
						</a>
					</li>
					<li class="nav-item" [class.active]="currentRoute === '/certification' || currentLocation =='certification'">
						<a class="nav-link" [routerLink]="['/certification/view']" routerLinkActive="router-link-active">
							<span class="menu-icon">
								<i class="mdi mdi-beats"></i>
							</span>
							<span class="menu-title">Certifications</span>
						</a>
					</li>
					<li class="nav-item " [class.active]="currentRoute === '/department' || currentLocation =='department'">
						<a class="nav-link" [routerLink]="['/department/view']" routerLinkActive="router-link-active">
							<span class="menu-icon">
								<i class="mdi mdi-store"></i>
							</span>
							<span class="menu-title">Department</span>
						</a>
					</li>
					<li class="nav-item" [class.active]="currentRoute === '/position' || currentLocation =='position'">
						<a class="nav-link" [routerLink]="['/position/view']" routerLinkActive="router-link-active">
							<span class="menu-icon">
								<i class="mdi mdi-store"></i>
							</span>
							<span class="menu-title">Position</span>
						</a>
					</li>
					<li class="nav-item" [class.active]="currentRoute === '/leaverequest' || currentLocation =='leaverequest'">
						<a class="nav-link" [routerLink]="['/leaverequest/view']" routerLinkActive="router-link-active">
							<span class="menu-icon">
								<i class="mdi mdi-backup-restore"></i>
							</span>
							<span class="menu-title">Leave Requests</span>
						</a>
					</li>
					<li class="nav-item" [class.active]="currentRoute === '/attendance' || currentLocation =='attendance'">
						<a class="nav-link" [routerLink]="['/attendance/view']" routerLinkActive="router-link-active">
							<span class="menu-icon">
								<i class="mdi mdi-account-multiple"></i>
							</span>
							<span class="menu-title">Attendance</span>
						</a>
					</li>
					<li class="nav-item" [class.active]="currentRoute === '/role' || currentLocation =='role'">
						<a class="nav-link" [routerLink]="['/role/view']" routerLinkActive="router-link-active">
							<span class="menu-icon">
								<i class="mdi mdi-account-multiple"></i>
							</span>
							<span class="menu-title">Role/Access Control</span>
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-item menu-items" [class.active]="currentRoute === '/manager' || currentLocation =='manager'">
			<a class="nav-link" [routerLink]="['/manager/view']" routerLinkActive="router-link-active">
				<span class="menu-icon">
					<i class="mdi mdi-account"></i>
				</span>
				<span class="menu-title">Manager</span>
			</a>
		</li>
		<li class="nav-item menu-items"
			[class.active]="currentRoute === '/schedule-system' || currentLocation =='schedule-system'">
			<a class="nav-link" href="#schedule" data-toggle="collapse" aria-expanded="false" aria-controls="auth">
				<span class="menu-icon">
					<i class="mdi mdi-account-multiple"></i>
				</span>
				<span class="menu-title">Schedule System</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="schedule">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"> <a class="nav-link" [class.active]="currentRoute === '/schedule-system/engine'"
							[routerLink]="['/schedule-system/engine']" routerLinkActive="router-link-active"> Schedule-Engine </a>
					</li>
					<li class="nav-item"> <a class="nav-link"
							[class.active]="currentRoute === '/schedule-system/list' || currentLocation =='schedule-system'"
							[routerLink]="['/schedule-system/list']" routerLinkActive="router-link-active"> Schedule-List </a></li>
					<li class="nav-item"> <a class="nav-link"
							[class.active]="currentRoute === '/schedule-system/gantt' || currentLocation =='schedule-system'"
							[routerLink]="['/schedule-system/gantt']" routerLinkActive="router-link-active">Schedule-Gantt </a></li>
				</ul>
			</div>
		</li>
		<li class="nav-item menu-items" [class.active]="currentRoute === '/meal' || currentLocation =='meal'">
			<a class="nav-link" [routerLink]="['/meal/view']" routerLinkActive="router-link-active">
				<span class="menu-icon">
					<i class="mdi mdi-cash-multiple"></i>
				</span>
				<span class="menu-title">Meal</span>
			</a>
		</li>
		<li class="nav-item menu-items" [class.active]="currentRoute === '/pos' || currentLocation =='pos'">
			<a class="nav-link" [routerLink]="['/pos/view']" routerLinkActive="router-link-active">
				<span class="menu-icon">
					<i class="mdi mdi-store"></i>
				</span>
				<span class="menu-title">POS</span>
			</a>
		</li> -->
		<!-- <li class="nav-item menu-items" [class.active]="currentRoute === '/schedule' || currentLocation =='schedule'">
			<a class="nav-link" href="#shedule" data-toggle="collapse" aria-expanded="false" aria-controls="shedule">
				<span class="menu-icon">
					<i class="mdi mdi-store"></i>
				</span>
				<span class="menu-title">Schedule Engine</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="shedule">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"> <a class="nav-link" [class.active]="currentRoute === '/schedule' || currentLocation =='schedule'" [routerLink]="['/schedule/view']" routerLinkActive="router-link-active"> Schedule Engine </a></li>
				</ul>
			</div>
		</li>

		<li class="nav-item menu-items" [class.active]="currentRoute === '/auth' || currentLocation =='auth'">
			<a class="nav-link" [class.active]="currentRoute === '/auth' || currentLocation =='auth'"
				[routerLink]="['/auth/view-user']" routerLinkActive="router-link-active">
				<span class="menu-icon">
					<i class="mdi mdi-account"></i>
				</span>
				<span class="menu-title">Admin Users</span>
			</a>
		</li>
		<li class="nav-item menu-items"
			[class.active]="currentRoute === '/auth' || currentLocation =='config' || currentLocation =='contact' || currentLocation =='subscriber'">
			<a class="nav-link" data-toggle="collapse" href="#others" aria-expanded="false" aria-controls="others">
				<span class="menu-icon">
					<i class="mdi mdi-store"></i>
				</span>
				<span class="menu-title">System</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="others">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"> <a class="nav-link"
							[class.active]="currentRoute === '/config' || currentLocation =='config'" [routerLink]="['/config']"
							routerLinkActive="router-link-active"> Config </a></li>
					<li class="nav-item"> <a class="nav-link"
							[class.active]="currentRoute === '/contact' || currentLocation =='contact'"
							[routerLink]="['/contact/list']" routerLinkActive="router-link-active"> Contact </a></li>
					<li class="nav-item"> <a class="nav-link"
							[class.active]="currentRoute === '/subscriber' || currentLocation =='subscriber'"
							[routerLink]="['/subscriber/view']" routerLinkActive="router-link-active"> Subscriber </a></li>
				</ul>
			</div>
		</li>-->
	</ul>
</nav>
