<div class="container mt--7">
	<div class="row">
		<div class="col-xl-12 order-xl-1">
			<div class="card  shadow">
				<div class="card-header border-0">
					<div class="row align-items-center">
						<div class="col-md-8 col-sm-10 col-12">
							<h3 class="mb-0">Edit Meal</h3>
						</div>
					</div>
				</div>
				<div class="card-body">
					<!-- form start -->
					<form [formGroup]="addmealForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="form-group">
							<label for="exampleInputEmail1">Meal is Available</label>
							<select name="isAvailable" formControlName="isAvailable" class="form-control">
								<option value="">Select Status</option>
								<option value="true">Active</option>
								<option value="false">Deactive</option>
							</select>
							<span *ngIf="submitted && hasError('isAvailable','required')" class="alert-danger">Please Meal
								Status</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Name</label>
							<input type="text" name="name" autocomplete="off" formControlName="name" class="form-control"
								placeholder="Name">
							<span *ngIf="submitted && hasError('name','required')" class="alert-danger">
								Name is required
							</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Description</label>
							<!-- <input type="text" name="description" autocomplete="off" formControlName="description" class="form-control"
								placeholder="Description"> -->
							<textarea name="description" autocomplete="off" formControlName="description" class="form-control"
								placeholder="Description"> </textarea>
							<span *ngIf="submitted && hasError('description','required')" class="alert-danger">
								Description is required
							</span>
						</div>

						<div class="form-group">
							<label for="category">Category</label>
							<input type="text" name="category" autocomplete="off" formControlName="category" class="form-control"
								placeholder="Category">
							<span *ngIf="submitted && hasError('category','required')" class="alert-danger">
								Category is required
							</span>
						</div>


						<div class="form-group">
							<label for="requiredEmployees">Required no of Employees</label>
							<input type="number" name="requiredEmployees" autocomplete="off" formControlName="requiredEmployees"
								class="form-control" placeholder="Required no of Employees">
							<span *ngIf="submitted && hasError('requiredEmployees','required')" class="alert-danger">
								Required no of Employees is required
							</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Department <span class="required">*</span></label>
							<!-- <select name="departments" formControlName="departments" class="form-control">
								<option value="">Select Department</option>
								<option value="{{item._id}}" *ngFor="let item of departmentData">{{item.name}}</option>
							</select> -->
							<ng-multiselect-dropdown id="select" [placeholder]="'Select Departments'" [settings]="dropdownSettings"
								[data]="departmentList" [formControl]="f.departments">
							</ng-multiselect-dropdown>
							<span *ngIf="submitted && hasError('departments','required')" class="alert-danger">Please Select
								Department</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Employee <span class="required">*</span> : </label>
							<div class="col-md-8 col-sm-10 col-12">
								<ng-multiselect-dropdown id="select" [placeholder]="'Select Employee'" [settings]="dropdownSettings"
									[data]="employeeList" [formControl]="f.employees">
								</ng-multiselect-dropdown>
							</div>
						</div>

						<div class="form-group">
							<label for="Ingredients">Ingredients <span class="required">*</span> : </label>
							<div class="col-md-8 col-sm-10 col-12">
								<ng-multiselect-dropdown id="select" [placeholder]="'Select Ingredients'" [settings]="dropdownSettings"
									[data]="ingredientsList" [formControl]="f.ingredients">
								</ng-multiselect-dropdown>
							</div>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Preparation Time</label>
							<input type="number" name="preparationTime" autocomplete="off" formControlName="preparationTime"
								class="form-control" placeholder="Preparation Time">
							<span *ngIf="submitted && hasError('preparationTime','required')" class="alert-danger">
								Preparation Time is required
							</span>
						</div>

						<div class="form-group">
							<label for="machine">Machine</label>
							<input type="text" name="machine" autocomplete="off" formControlName="machine" class="form-control"
								placeholder="No of Machines Required">
							<span *ngIf="submitted && hasError('machine','required')" class="alert-danger">
								no of Machines is required
							</span>
						</div>

						<div class="form-group">
							<label for="package">Package</label>
							<input type="text" name="package" autocomplete="off" formControlName="package" class="form-control"
								placeholder="No of Packaging Box">
							<span *ngIf="submitted && hasError('package','required')" class="alert-danger">
								Package is required
							</span>
						</div>

						<div class="form-group">
							<label for="meal_id">Meal id</label>
							<input type="text" name="meal_id" autocomplete="off" formControlName="meal_id" class="form-control"
								placeholder="Meal Id">
							<span *ngIf="submitted && hasError('meal_id','required')" class="alert-danger">
								Meal Id is required
							</span>
						</div>

						<div class="form-group">
							<label for="price">Price</label>
							<input type="number" name="price" autocomplete="off" formControlName="price" class="form-control"
								placeholder="Price">
							<span *ngIf="submitted && hasError('price','required')" class="alert-danger">
								Price is required
							</span>
						</div>
						<div class="form-group" *ngIf="isEdit">
							<label for="sequence_number">Sequence Number</label>
							<input type="text" name="sequence_number" autocomplete="off" formControlName="sequence_number"
								class="form-control" placeholder="Sequence Number">
							<span *ngIf="submitted && hasError('sequence_number','required')" class="alert-danger">
								Sequence Number is required
							</span>
						</div>

						<div class="box-footer d-flex">
							<button type="submit" class="btn btn-button mr-2">Submit</button>
							<button type="cancel" (click)="onCancel()" class="btn btn-button">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #related let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add Department Need</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<!-- Page content -->
		<div class="container">
			<!-- Table -->
			<div class="row">
				<div class="col">
					<div class="card shadow">
						<div class="card-body">
							<div class="table-responsive">
								<form [formGroup]="certifiedObject" (ngSubmit)="onSubmitDept()" method="post" novalidate>
									<div class="box-body">
										<div class="form-group">
											<label for="exampleInputEmail1">Select Departments</label>
											<select name="department" formControlName="department" class="form-control">
												<option value="">Select Department</option>
												<option value="{{item.department}}" *ngFor="let item of departmentData">{{item.name}}</option>
											</select>
										</div>

										<div class="form-group">
											<label for="exampleInputEmail1">Select positions</label>
											<select name="position" formControlName="position" class="form-control">
												<option value="">Select position</option>
												<option value="{{item.position}}" *ngFor="let item of positionData">{{item.name}}</option>
											</select>
										</div>

										<div class="form-group">
											<label for="exampleInputEmail1">employeesPerOrder</label>
											<input type="text" name="employeesPerOrder" autocomplete="off" formControlName="scored"
												class="form-control" placeholder="employeesPerOrder">
											<span *ngIf="submitted && hasError('employeesPerOrder','required')" class="alert-danger">
												EmployeesPerOrder is required</span>
										</div>
									</div>
									<div class="box-footer d-flex">
										<button type="submit" class="btn btn-button mr-2">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-smallbutton" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>
