<div class="container mt--7">
	<div class="row">
		<div class="col-xl-12 order-xl-1">
			<div class="card  shadow">
				<div class="card-header border-0">
					<div class="row align-items-center">
						<div class="col-md-8 col-sm-10 col-12">
							<h3 class="mb-0">Edit Attendance</h3>
						</div>
					</div>
				</div>
				<div class="card-body">
					<!-- form start -->
					<form [formGroup]="addattendanceForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="form-group">
							<label for="exampleInputEmail1">Select Status</label>
							<select name="status" formControlName="status" class="form-control">
								<option value="">Select Status</option>
								<option value="true">Active</option>
								<option value="false">Deactive</option>
							</select>
							<span *ngIf="submitted && hasError('status','required')" class="alert-danger">Please Select Status</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Select User Type</label>
							<select name="userType" formControlName="userType" class="form-control">
								<option value="">Select User Type</option>
								<option value="Employee">Employee</option>
								<option value="Manager">Manager</option>								
							</select>
							<span *ngIf="submitted && hasError('userType','required')" class="alert-danger">Please Select User Type</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Select User </label>
							<select name="userId" formControlName="userId" class="form-control">
								<option value="">Select User Type</option>
								<option value="userId">Employee</option>
								<option value="Manager">Manager</option>								
							</select>
							<span *ngIf="submitted && hasError('userId','required')" class="alert-danger">Please Select User</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Date</label>
							<input type="date" name="date" autocomplete="off" formControlName="date" class="form-control"
								placeholder="Date Name">
							<span *ngIf="submitted && hasError('date','required')" class="alert-danger">Attendance Name is
								required</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Address</label>
							<textarea type="text" name="address" autocomplete="off" formControlName="address" class="form-control"
								placeholder="Address" rows="3"></textarea>
							<span *ngIf="submitted && hasError('address','required')" class="alert-danger">Address Title is
								required</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Check In</label>
							<input type="text" name="checkIn" autocomplete="off" formControlName="checkIn" class="form-control"
								placeholder="checkIn">
							<span *ngIf="submitted && hasError('checkIn','required')" class="alert-danger">Check In is
								required</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Check Out</label>
							<input type="text" name="checkOut" autocomplete="off" formControlName="checkOut" class="form-control"
								placeholder="Check Out">
							<span *ngIf="submitted && hasError('checkOut','required')" class="alert-danger">Check Out is
								required</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Reason</label>
							<input type="text" name="reason" autocomplete="off" formControlName="reason" class="form-control"
								placeholder="Reason">
							<span *ngIf="submitted && hasError('reason','required')" class="alert-danger">Reason is
								required</span>
						</div>
						<div class="box-footer d-flex">
							<button type="submit" class="btn btn-button mr-2">Submit</button>
							<button type="cancel" (click)="onCancel()" class="btn btn-button">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>