<!-- Page content -->
<div class="container-fluid mt--7">
	<!-- Table -->
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<h3 class="mb-0 poppins-bold size20">Overview</h3>
				</div>
				<!-- <div class="card-body">
					<div class="col-md-12 mb-4">
						<div class="row">
							<div class="col-md-6">
								<input class="form-control mt-4" type="text" (keyup)="searchLeave()" name="search"
									[(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching by name">
							</div>
							<div class="col-md-6"><button type="button" class="btn btn-button pull-right ml-auto mt-4"
									routerLink="/leaverequest/add">Add Leave</button></div>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead>
								<tr>
									<th>SL No</th>
									<th>Title</th>
									<th>Provider</th>
									<th>Issued Date</th>
									<th>Expiry Date</th>
									<th>Approved By</th>
									<th>Employee</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<td colspan="9" *ngIf="msg_danger">
									<div class="alert alert-dismissable" style="text-align: center;">
										Leave List is Empty
									</div>
								</td>
								<tr *ngFor="let listLeave of leaveData | filter:searchText; let i = index">
									<td *ngIf="currentPage == 1">{{i+1}}</td>
									<td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
									<td>{{listLeave.title}}</td>
									<td>{{listLeave.provider}}</td>
									<td>{{listLeave.issuedDate | date:'dd/MM/YYYY HH:MM:a'}}</td>
									<td>{{listLeave.expiryDate | date:'dd/MM/YYYY HH:MM:a'}}</td>
									<td>{{listLeave.approved_by}}</td>
									<td>{{listLeave.employee}}</td>
									<td>{{listLeave.approved == true ? 'Active':'Inactive' }}</td>
									<td>
										<a routerLink="/leaverequest/edit/{{listLeave._id}}" style="cursor:pointer"><i
												class="mdi mdi-lead-pencil" aria-hidden="true"></i>
										</a>
										<a style="cursor:pointer;padding-left: 15px;" (click)="deleteLeave(listLeave._id)"><i
												class="mdi mdi-close-box" aria-hidden="true"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="pcommece-pagination" *ngIf="totalRecord > 0 && !searchText">
							<app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
								(changePage)="onListChangeLeave($event)"></app-pagination>
						</div>
					</div>
				</div> -->
				<div class="row pl-md-4 pt-md-4">
					<div class="col-xl-4 col-sm-6 grid-margin">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-12">
										<div
											class="d-flex align-items-center align-self-start justify-content-center"
										>
											<img
												[src]="Data.photo"
												[alt]="Data.name"
												class="img-fluid mr-md-3 mb-sm-3"
												width="80"
												height="80"
											/>
											<div class="detail">
												<p class="poppins-regular size14">
													<strong class="poppins-bold size14">ID:</strong>
													{{ Data.employee_id }}
												</p>
												<p class="poppins-regular size14">
													<strong class="poppins-bold size14">User Name:</strong>
													{{ Data.username }}
												</p>
												<p class="poppins-regular size14">
													<strong class="poppins-bold size14">First Name:</strong>
													{{ Data.first_name }}
												</p>
												<p class="poppins-regular size14">
													<strong class="poppins-bold size14">Last Name:</strong>
													{{ Data.last_name }}
												</p>
												<p class="poppins-regular size14 mb-0">
													<strong class="poppins-bold size14">Email:</strong>
													{{ Data.email }}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-4 col-sm-6 grid-margin">
						<div class="card grid-margin">
							<div class="card-body">
								<div class="row">
									<div class="col-12">
										<p class="poppins-regular size14">
											<strong class="poppins-bold size14">Location:</strong>
											{{ Data.address }}
											{{ Data.city }}, {{ Data.country }}
										</p>
										<!-- <p class="poppins-regular size14 mb-0">
											<strong class="poppins-bold size14">Phone:</strong>
											{{ Data.phone }}
										</p> -->
									</div>
								</div>
							</div>
						</div>

						<div class="card grid-margin">
							<div class="card-body">
								<div class="row">
									<div class="col-12">
										<p class="poppins-regular size14">
											<strong class="poppins-bold size14">Joining Date:</strong>
											{{ Data.hireDate | date }}
										</p>
										<p class="poppins-regular size14 mb-0">
											<strong class="poppins-bold size14">Position:</strong>
											{{ Data.position[0].name }}
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12">
										<p class="poppins-regular size14">
											<strong class="poppins-bold size14">Shift:</strong>
											{{ Data.shiftPreferences[0] }}
										</p>
										<p class="poppins-regular size14 mb-0">
											<strong class="poppins-bold size14">Department:</strong>
											{{ Data.departments_data[0].name }}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
