<div class="content-wrapper">
	<div class="row">
		<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{banner_count}}</h3>
								<!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
							</div>
						</div>
						<div class="col-3">
							<a [routerLink]="['/banner/view']">
								<div class="icon icon-box-success">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Banner Items</h6>
				</div>
			</div>
		</div>
		<!-- <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{events_count}}</h3>
							</div>
						</div>
						<div class="col-3">
							<a [routerLink]="['/event/view']">
								<div class="icon icon-box-success">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Event Items</h6>
				</div>
			</div>
		</div> -->
		<!-- <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{blog_count}}</h3>
							</div>
						</div>
						<div class="col-3">
							<a [routerLink]="['/blog/view']">
								<div class="icon icon-box-success">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Blog Items</h6>
				</div>
			</div>
		</div> -->
		<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{products_count}}</h3>
								<!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
							</div>
						</div>
						<div class="col-3">
							<a [routerLink]="['/product/view']">
								<div class="icon icon-box-success ">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Products</h6>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{collection_cat_count}}</h3>
								<!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
							</div>
						</div>
						<div class="col-3">
							<a [routerLink]="['/collection-category/view']">
								<div class="icon icon-box-success ">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Collection Category</h6>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{collection_count}}</h3>
								<!-- <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p> -->
							</div>
						</div>
						<div class="col-3">
							<a [routerLink]="['/collection/view']">
								<div class="icon icon-box-success">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Collection Types</h6>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{category_count}}</h3>
								<!-- <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p> -->
							</div>
						</div>
						<div class="col-3">
							<a [routerLink]="['/category/view']">
								<div class="icon icon-box-success">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Collections</h6>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{subcategory_count}}</h3>
								<!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
							</div>
						</div>
						<div class="col-3">
							<a [routerLink]="['/subcategory/view']">
								<div class="icon icon-box-success ">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Product Categories</h6>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{cart_count}}</h3>
								<!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
							</div>
						</div>
						<div class="col-3">
							<a href="/#/cart/view">
								<div class="icon icon-box-success ">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Cart Items</h6>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{orders_count}}</h3>
								<!-- <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p> -->
							</div>
						</div>
						<div class="col-3">
							<a href="/#/order/view">
								<div class="icon icon-box-success">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Orders</h6>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{wishlist_count}}</h3>
								<!-- <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p> -->
							</div>
						</div>
						<div class="col-3">
							<a href="/#/wishlist/view">
								<div class="icon icon-box-success">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Wishlist</h6>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{customer_count}}</h3>
								<!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
							</div>
						</div>
						<div class="col-3">
							<a href="/#/customer/view">
								<div class="icon icon-box-success ">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Customers</h6>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{allpage_count}}</h3>
								<!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
							</div>
						</div>
						<div class="col-3">
							<a href="/#/page/view">
								<div class="icon icon-box-success ">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Page</h6>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{testimonial_count}}</h3>
							</div>
						</div>
						<div class="col-3">
							<a href="/#/testimonial/view">
								<div class="icon icon-box-success">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Testimonial Items</h6>
				</div>
			</div>
		</div>
		<!-- <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{colors_count}}</h3>
							</div>
						</div>
						<div class="col-3">
							<a href="/#/colour/view">
								<div class="icon icon-box-success">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Colours</h6>
				</div>
			</div>
		</div> -->
		<!-- <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-9">
							<div class="d-flex align-items-center align-self-start">
								<h3 class="mb-0">{{sizes_count}}</h3>
							</div>
						</div>
						<div class="col-3">
							<a href="/#/size/view">
								<div class="icon icon-box-success ">
									<span class="mdi mdi-arrow-top-right icon-item"></span>
								</div>
							</a>
						</div>
					</div>
					<h6 class="text-muted font-weight-normal">Size Items</h6>
				</div>
			</div>
		</div> -->
	</div>
	<div class="row ">
		<div class="col-12 grid-margin">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Recent Orders</h4>
				</div>
				<div class="card-body">

					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th> Sl No</th>
									<th> Client Name </th>
									<th> Order No </th>
									<th> Product Cost </th>
									<th> Product </th>
									<th> Payment Mode </th>
									<th> Order Status </th>
									<th> Start Date </th>
									<th> Payment Status </th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let order of orderData;let i=index;">
									<td> {{i+1}} </td>
									<td> {{order.firstname}} </td>
									<td> {{order.order_id}} </td>
									<td> {{order.order_amount}} </td>
									<td> {{order.product_data[0].name}} </td>
									<td> {{order.payment_type}} </td>
									<td> {{order.order_status}} </td>
									<td> {{order.created_at | date}} </td>
									<td>
										<div *ngIf="order.order_status=='completed'" class="badge badge-outline-success">Completed</div>
										<div *ngIf="order.order_status=='Pending'" class="badge badge-outline-info">Pending</div>
										<div *ngIf="order.order_status=='cancel'" class="badge badge-outline-danger">Approved</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xl-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Last Search Terms</h4>
				</div>
				<div class="card-body">

					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th> Sequence Number </th>
									<th> Search Term </th>
									<th> Uses </th>
									<th> Results </th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let term of topsearchtems | topsearch">
									<td>
										{{term.sequence_number}}
									</td>
									<td>{{term.search_term}}</td>
									<td>{{term.uses}} </td>
									<td>{{term.results}} </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Top Search Terms</h4>
				</div>
				<div class="card-body">
					
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th> Sequence Number </th>
									<th> Search Term </th>
									<th> Uses </th>
									<th> Results </th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let term of topsearchtems">
									<td scope="row">
										{{term.sequence_number}}
									</td>
									<th>
										{{term.search_term}}
									</th>
									<td>
										{{term.uses}}
									</td>
									<td>
										{{term.results}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Most Viewed Products</h4>
				</div>
				<div class="card-body">
					
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th> Sequence Number </th>
									<th> Product name </th>
									<th> Product Cost </th>
									<th> Visitors </th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let term of mostviewedProducts">
									<td scope="row">
										{{term.sequence_number}}
									</td>
									<th>
										{{term.product.name}}
									</th>
									<td>
										{{term.price}}
									</td>
									<td>
										{{term.uses}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Best Seller Products</h4>
				</div>
				<div class="card-body">
					
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th> Sequence Number </th>
									<th> Product name </th>
									<th> Price </th>
									<th> Visitors </th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let product of bestsellerProducts; let i = index">
									<td>
										{{i+1}}
									</td>
									<td><span *ngIf="product.product">{{product.product.name}}</span></td>
									<td class="text-right"> {{product.price}} </td>
									<td class="text-right font-weight-medium"> {{product.uses}} </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- content-wrapper ends -->