@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mdi-calendar-multiple-check.animated {
  animation: spin 2s linear infinite;
}

.progress-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e0e0; /* default base */
  overflow: visible;
}

/* Main colored arc */
.progress-circle::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(
    var(--fill-color, #28a745) 0 var(--progress, 0%),
    transparent var(--progress, 0%) 100%
  );
  transition: transform 0.3s ease;
  z-index: 0;
}

/* Overtime / secondary arc */
.progress-circle.overtime::before {
  background: conic-gradient(
    var(--base-color, #28a745) 0 var(--progress-base, 0%),
    var(--fill-color, #0d0d0d) var(--progress-base, 0%) var(--progress-extra, 0%),
    transparent var(--progress-extra, 0%) 100%
  );
}

.inner-circle {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 1; /* keep text above */
}

.card-body{
  padding: 1.5rem 1.5rem;
}

.detail{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;

}

.shade{
  background-color: #f1f5f9;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
 
  box-shadow: 5px 5px 10px rgba(0, 0, 20, 0.08), 0 1px 2px rgba(0, 0, 20, 0.08);
transition: all 0.3s ease-in-out;

  &:hover{
    box-shadow: 0 0px 10px rgba(0, 0, 20, 0.08), 0 1px 2px rgba(0, 0, 20, 0.08);
    transform: translateY(-5px) scale(.95);

  }
}

.photo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 20, 0.08), 0 1px 2px rgba(0, 0, 20, 0.08);
  margin-bottom: 1rem;
}