<div class="container-fluid mt--7">
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<h3 class="mb-0 poppins-bold size20">Overview</h3>
				</div>

				<!-- <div class="card-body">
					<div class="col-md-12 mb-4">
						<div class="row">
							<div class="col-md-6">
								<input class="form-control mt-4" type="text" (keyup)="searchLeave()" name="search"
									[(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching by name">
							</div>
							<div class="col-md-6"><button type="button" class="btn btn-button pull-right ml-auto mt-4"
									routerLink="/leaverequest/add">Add Leave</button></div>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead>
								<tr>
									<th>SL No</th>
									<th>Title</th>
									<th>Provider</th>
									<th>Issued Date</th>
									<th>Expiry Date</th>
									<th>Approved By</th>
									<th>Employee</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<td colspan="9" *ngIf="msg_danger">
									<div class="alert alert-dismissable" style="text-align: center;">
										Leave List is Empty
									</div>
								</td>
								<tr *ngFor="let listLeave of leaveData | filter:searchText; let i = index">
									<td *ngIf="currentPage == 1">{{i+1}}</td>
									<td *ngIf="currentPage != 1">{{i+1+((currentPage - 1) * currentLimit)}}</td>
									<td>{{listLeave.title}}</td>
									<td>{{listLeave.provider}}</td>
									<td>{{listLeave.issuedDate | date:'dd/MM/YYYY HH:MM:a'}}</td>
									<td>{{listLeave.expiryDate | date:'dd/MM/YYYY HH:MM:a'}}</td>
									<td>{{listLeave.approved_by}}</td>
									<td>{{listLeave.employee}}</td>
									<td>{{listLeave.approved == true ? 'Active':'Inactive' }}</td>
									<td>
										<a routerLink="/leaverequest/edit/{{listLeave._id}}" style="cursor:pointer"><i
												class="mdi mdi-lead-pencil" aria-hidden="true"></i>
										</a>
										<a style="cursor:pointer;padding-left: 15px;" (click)="deleteLeave(listLeave._id)"><i
												class="mdi mdi-close-box" aria-hidden="true"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="pcommece-pagination" *ngIf="totalRecord > 0 && !searchText">
							<app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
								(changePage)="onListChangeLeave($event)"></app-pagination>
						</div>
					</div>
				</div> -->

				<div class="row p-4">
					<!-- Employee Profile -->
					<div class="col-xl-4 col-sm-6 mb-3">
						<div class="card h-100 shade">
							<div class="card-body d-flex flex-xl-column align-items-center">
								<div class="photo">
									<img
										[src]="Data.photo"
										[alt]="Data.name"
										class="img-fluid w-100 h-100"
									/>
								</div>
								<div class="detail">
									<p class="poppins-regular mb-0 text-capitalize">
										<strong class="poppins-bold">ID:</strong>
										{{ Data.employee_id }}
									</p>
									<p class="poppins-regular mb-0 text-capitalize">
										<strong class="poppins-bold">User Name:</strong>
										{{ Data.username }}
									</p>
									<p class="poppins-regular mb-0 text-capitalize">
										<strong class="poppins-bold">First Name:</strong>
										{{ Data.first_name }}
									</p>
									<p class="poppins-regular mb-0 text-capitalize">
										<strong class="poppins-bold">Last Name:</strong>
										{{ Data.last_name }}
									</p>
									<p class="poppins-regular mb-0 text-capitalize">
										<strong class="poppins-bold">Email:</strong>
										{{ Data.email }}
									</p>
								</div>
							</div>
						</div>
					</div>

					<!-- Location & Job Info -->
					<div class="col-xl-4 col-sm-6">
						<div class="d-flex flex-column h-100 justify-content-between">
							<div class="card mb-3 shade">
								<div class="card-body">
									<p class="poppins-regular mb-0 text-capitalize">
										<strong class="poppins-bold">Location:</strong>
										{{ Data.address }}, {{ Data.city }}, {{ Data.country }}
									</p>
								</div>
							</div>

							<div class="card mb-3 shade">
								<div class="card-body">
									<p class="poppins-regular mb-2 text-capitalize">
										<strong class="poppins-bold">Joining Date:</strong>
										{{ Data.hireDate | date }}
									</p>
									<p class="poppins-regular mb-0 text-capitalize">
										<strong class="poppins-bold">Position:</strong>
										{{ Data.position[0].name }}
									</p>
								</div>
							</div>

							<div class="card mb-3 shade">
								<div class="card-body">
									<p class="poppins-regular mb-2 text-capitalize">
										<strong class="poppins-bold">Shift:</strong>
										{{ Data.shiftPreferences[0] }}
									</p>
									<p class="poppins-regular mb-0 text-capitalize">
										<strong class="poppins-bold">Department:</strong>
										{{ Data.departments_data[0].name }}
									</p>
								</div>
							</div>
						</div>
					</div>

					<!-- Stats Section -->
					<div class="col-xl-4 col-sm-12 mb-3">
						<div class="row gx-3 gy-3">
							<div class="col-6">
								<div
									class="shade p-2 text-center h-100 d-flex flex-column justify-content-center align-items-center"
								>
									<small class="poppins-bold mb-3">Total Hours</small>
									<div
										class="progress-circle"
										[style.--progress]="(TotalHours / 24) * 100 + '%'"
										[style.--fill-color]="'#28a745'"
									>
										<div class="inner-circle">{{ TotalHours }}h</div>
									</div>
								</div>
							</div>

							<div class="col-6">
								<div
									class="shade p-2 text-center h-100 d-flex flex-column justify-content-center align-items-center"
								>
									<small class="poppins-bold mb-3">Overtime</small>
									<div
										class="progress-circle"
										[ngStyle]="{
											background:
												'conic-gradient(' +
												'#28a745 0 ' +
												((TotalHours - overtime) / 24) * 100 +
												'%, ' +
												'#0d0d0d ' +
												((TotalHours - overtime) / 24) * 100 +
												'% ' +
												(TotalHours / 24) * 100 +
												'%, ' +
												'#e0e0e0 ' +
												(TotalHours / 24) * 100 +
												'% 100%)'
										}"
									>
										<div class="inner-circle">{{ overtime }}h</div>
									</div>
								</div>
							</div>

							<!-- <div class="col-6 border">
								<div
									class="p-2 bg-light rounded text-center d-flex flex-column align-items-center justify-content-center"
								>
									<small class="size14 poppins-medium">Leave / Remaining</small>
									<h6 class="size14 poppins-bold">
										{{ leaveHours }} / {{ remainingHours }}
									</h6>
									<div
										class="progress-circle leave-progress"
										[style.--progress]="
											(leaveHours / remainingHours) * 100 + '%'
										"
										[style.--fill-color]="'#ffc107'"
										title="{{ leaveHours }} / {{ remainingHours }}"
									>
										<div class="inner-circle">{{ leaveHours }}h</div>
									</div>
								</div>
							</div> -->
							<div class="col-6 mt-3">
								<div
									class="shade p-2 text-center h-100 d-flex flex-column justify-content-center align-items-center"
								>
									<small class="poppins-bold mb-3">leaves</small>
									<h6 class="mb-0 poppins-bold">4</h6>
								</div>
							</div>
							<div class="col-6 mt-3">
								<div
									class="shade p-2 text-center h-100 d-flex flex-column justify-content-center align-items-center"
								>
									<small class="poppins-bold mb-3">Earnings</small>
									<h6 class="mb-0 poppins-bold">$2500</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
